<a href="https://colab.research.google.com/github/sultanardia/kecerdasan_komputasional/blob/main/UTS%20Kecerdasan%20Komputasional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import libraries

In [63]:
import pandas as pd
import matplotlib.pyplot as plt

## Read dataset and show the first-five rows

In [64]:
df = pd.read_csv('/content/breast-cancer.csv', delimiter = ';')
df.head()

                  Class    Age Menopause  ... breast breast-quad irradiat
0  no-recurrence-events  30-39   premeno  ...   left    left_low       no
1  no-recurrence-events  40-49   premeno  ...  right    right_up       no
2  no-recurrence-events  40-49   premeno  ...   left    left_low       no
3  no-recurrence-events  60-69      ge40  ...  right     left_up       no
4  no-recurrence-events  40-49   premeno  ...  right   right_low       no

[5 rows x 10 columns]

## Check the size of dataset

In [65]:
df.shape

(286, 10)

## Check the type of columns

In [66]:
df.dtypes

Class          object
Age            object
Menopause      object
tumor-size     object
inv-node       object
node-capes     object
deg-malig       int64
breast         object
breast-quad    object
irradiat       object
dtype: object

## Get the object columns and show the categorical values

In [67]:
feats_obj = df.drop(['Class', 'deg-malig'], axis = 1).columns

for feat in feats_obj:
    print('Feature {feat} : {unique}\n'.format(feat = feat, unique = df[feat].unique()))

Feature Age : ['30-39' '40-49' '60-69' '50-59' '70-79' '20-29']

Feature Menopause : ['premeno' 'ge40' 'lt40']

Feature tumor-size : ['30-34' '20-24' '15-19' '0-4' '25-29' '50-54' 'Okt-14' '40-44' '35-39'
 '05-Sep' '45-49']

Feature inv-node : ['0-2' '06-Agu' '09-Nov' '03-Mei' '15-17' 'Des-14' '24-26']

Feature node-capes : ['no' 'yes' '?']

Feature breast : ['left' 'right']

Feature breast-quad : ['left_low' 'right_up' 'left_up' 'right_low' 'central' '?']

Feature irradiat : ['no' 'yes']

In [68]:
# feats_obj = df.drop(['Class', 'deg-malig'], axis = 1).columns

# fig, axs = plt.subplots(len(feats_obj), figsize = (10, 24))
# fig.tight_layout()

# for iter, feat in enumerate(feats_obj):
#     group = df.groupby(feat)['Class'].count()
#     axs[iter].bar(group.index, group.values)
#     axs[iter].set_xlabel(feat)
#     axs[iter].set_ylabel('Class')

## Repair the categories

In [69]:
df.loc[df['tumor-size'] == '05-Sep', 'tumor-size'] = '05-09'
df.loc[df['tumor-size'] == 'Okt-14', 'tumor-size'] = '10-14'
df.loc[df['inv-node'] == '03-Mei', 'inv-node'] = '03-05'
df.loc[df['inv-node'] == '06-Agu', 'inv-node'] = '06-08'
df.loc[df['inv-node'] == '09-Nov', 'inv-node'] = '09-11'
df.loc[df['inv-node'] == 'Des-14', 'inv-node'] = '12-14'

df.drop(df[df['breast-quad'] == '?'].index, axis = 0, inplace = True)
df.drop(df[df['node-capes'] == '?'].index, axis = 0, inplace = True)

## Make sure the categories is correct

In [70]:
# fig, axs = plt.subplots(len(feats_obj), figsize = (10, 24))
# fig.tight_layout()

# for iter, feat in enumerate(feats_obj):
#     group = df.groupby(feat)['Class'].count()
#     axs[iter].bar(group.index, group.values)
#     axs[iter].set_xlabel(feat)
#     axs[iter].set_ylabel('Class')

In [71]:
for feat in feats_obj:
    print('Feature {feat} : {unique}\n'.format(feat = feat, unique = df[feat].unique()))

Feature Age : ['30-39' '40-49' '60-69' '50-59' '70-79' '20-29']

Feature Menopause : ['premeno' 'ge40' 'lt40']

Feature tumor-size : ['30-34' '20-24' '15-19' '0-4' '25-29' '50-54' '10-14' '40-44' '35-39'
 '05-09' '45-49']

Feature inv-node : ['0-2' '06-08' '09-11' '03-05' '15-17' '12-14' '24-26']

Feature node-capes : ['no' 'yes']

Feature breast : ['left' 'right']

Feature breast-quad : ['left_low' 'right_up' 'left_up' 'right_low' 'central']

Feature irradiat : ['no' 'yes']

## Check the missing values

In [72]:
df.isnull().sum()

Class          0
Age            0
Menopause      0
tumor-size     0
inv-node       0
node-capes     0
deg-malig      0
breast         0
breast-quad    0
irradiat       0
dtype: int64

## Check the duplicate values

In [73]:
df.loc[df.duplicated(keep = False)]

                    Class    Age Menopause  ... breast breast-quad irradiat
3    no-recurrence-events  60-69      ge40  ...  right     left_up       no
5    no-recurrence-events  60-69      ge40  ...   left    left_low       no
6    no-recurrence-events  50-59   premeno  ...   left    left_low       no
7    no-recurrence-events  60-69      ge40  ...   left    left_low       no
9    no-recurrence-events  40-49   premeno  ...  right     left_up       no
21   no-recurrence-events  60-69      ge40  ...   left    left_low       no
37   no-recurrence-events  50-59      ge40  ...  right     central       no
65   no-recurrence-events  40-49   premeno  ...  right     left_up       no
67   no-recurrence-events  50-59      ge40  ...   left     left_up       no
78   no-recurrence-events  50-59   premeno  ...   left    left_low       no
81   no-recurrence-events  60-69      ge40  ...   left     left_up       no
91   no-recurrence-events  50-59      ge40  ...   left     left_up       no
97   no-recurrence-events  60-69      ge40  ...  right     left_up       no
111  no-recurrence-events  50-59      ge40  ...  right     central       no
112  no-recurrence-events  40-49   premeno  ...  right     left_up       no
113  no-recurrence-events  40-49   premeno  ...  right     left_up       no
116  no-recurrence-events  30-39   premeno  ...   left    left_low       no
120  no-recurrence-events  60-69      ge40  ...   left    left_low       no
142  no-recurrence-events  60-69      ge40  ...   left     left_up       no
171  no-recurrence-events  30-39   premeno  ...   left    left_low       no
204     recurrence-events  50-59   premeno  ...   left    right_up       no
207     recurrence-events  50-59   premeno  ...   left    right_up       no
236     recurrence-events  40-49   premeno  ...  right    left_low       no
237     recurrence-events  40-49   premeno  ...  right    left_low       no
238     recurrence-events  30-39   premeno  ...   left    left_low       no
268     recurrence-events  30-39   premeno  ...   left    left_low       no
279     recurrence-events  50-59      ge40  ...   left    left_low      yes
280     recurrence-events  50-59      ge40  ...   left    left_low      yes

[28 rows x 10 columns]

## Duplicate values handling

In [74]:
df.drop_duplicates(keep = 'last', inplace = True)
df.loc[df.duplicated(keep = False)]

Empty DataFrame
Columns: [Class, Age, Menopause, tumor-size, inv-node, node-capes, deg-malig, breast, breast-quad, irradiat]
Index: []

## Encode the categorical features

In [75]:
from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()

df_enc = df[['Class', 'deg-malig']]

for feat in feats_obj:
    df_enc[feat] = LE.fit_transform(df[feat])

df_enc.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                  Class  deg-malig  Age  ...  breast  breast-quad  irradiat
0  no-recurrence-events          3    1  ...       0            1         0
1  no-recurrence-events          2    2  ...       1            4         0
2  no-recurrence-events          2    2  ...       0            1         0
4  no-recurrence-events          2    2  ...       1            3         0
8  no-recurrence-events          2    2  ...       0            1         0

[5 rows x 10 columns]

## Train test split

In [76]:
from sklearn.model_selection import train_test_split

X = df_enc.drop('Class', axis = 1)
Y = df_enc['Class']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state = 42, test_size = 0.2)

## Modelling using Decision Tree method

In [77]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

DTC = DecisionTreeClassifier()
DTC.fit(X_train, Y_train)

Y_pred_DTC = DTC.predict(X_test)
print('Accuracy Score : ', accuracy_score(Y_pred_DTC, Y_test), '\n')
print('Confussion Matrix : \n', confusion_matrix(Y_pred_DTC, Y_test))

Accuracy Score :  0.6226415094339622

Confussion Matrix :
 [[28 10]
 [10  5]]

## Modelling using SVM method

In [78]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

SVC = SVC()
SVC.fit(X_train, Y_train)

Y_pred_SVC = SVC.predict(X_test)
print('Accuracy Score : ', accuracy_score(Y_pred_SVC, Y_test), '\n')
print('Confussion Matrix : \n', confusion_matrix(Y_pred_SVC, Y_test))

Accuracy Score :  0.7358490566037735

Confussion Matrix :
 [[36 12]
 [ 2  3]]

## Modelling using K-Nearest Neighbors method

In [79]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

KNN = KNeighborsClassifier()
KNN.fit(X_train, Y_train)

Y_pred_KNN = KNN.predict(X_test)
print('Accuracy Score : ', accuracy_score(Y_pred_KNN, Y_test), '\n')
print('Confussion Matrix : \n', confusion_matrix(Y_pred_KNN, Y_test))

Accuracy Score :  0.6981132075471698

Confussion Matrix :
 [[33 11]
 [ 5  4]]

## Modelling using Naive Bayes method

In [80]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

GNB = GaussianNB()
GNB.fit(X_train, Y_train)

Y_pred_GNB = GNB.predict(X_test)
print('Accuracy Score : ', accuracy_score(Y_pred_GNB, Y_test), '\n')
print('Confussion Matrix : \n', confusion_matrix(Y_pred_GNB, Y_test))

Accuracy Score :  0.7547169811320755

Confussion Matrix :
 [[33  8]
 [ 5  7]]